version: 2.1

executors:
  node:
    working_directory: ~/project/repo
    docker:
      - image: cimg/node:lts

jobs:
  test:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-dependencies-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - v3-dependencies-{{ .Branch }}-
            - v3-dependencies-
      - run:
          name: install-npm-dependencies
          command: 'npm ci'
      - save_cache:
          key: v3-dependencies-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - $HOME/.npm
      - run:
          name: test
          command: npm test
      - persist_to_workspace:
          root: ~/
          paths:
            - project/repo
            - .ssh
  release:
    executor: node
    steps:
      - attach_workspace:
          at: ~/
      - run: .circleci/setup-git.sh > /dev/null 2>&1
      - run: npx semantic-release

workflows:
  test_and_release:
    jobs:
      - test
      - release:
          context: Release
          requires:
            - test
